.manageContent {
  width:100%;
  min-height: calc(100vh - 50px);
  .manageLeft {
    min-height: calc(100vh - 50px);
    background: #353c48;
    .title {
      height: 50px;
      line-height: 50px;
      color: #fff;
      font-size: 16px;
      padding-left: 20px;
      margin: 0;
    }
    .list {
      li {
        height: 45px;
        line-height: 45px;
        color: #8d97ad;
        font-size: 14px;
        padding-left: 45px;
        background: url(../../assets/imgs/web.svg) no-repeat 20px 12px;
        background-size: 18px 18px;
        cursor: pointer;
      }
      li:hover {
        color: #fb9678;
        background: url(../../assets/imgs/web-active.svg) no-repeat 20px 12px;
        background-size: 18px 18px;
      }
      li.active {
        color: #fb9678;
        background: #2a303a url(../../assets/imgs/web-active.svg) no-repeat 20px 12px;
        background-size: 18px 18px;
      }
    }
     
  }
  .manageRight {
    background: #3c4452;
    padding:20px;
    :global {
      .ant-breadcrumb {
        height: 22px;
        margin-bottom:15px;
        .ant-breadcrumb-link {
          color: #8d97ad;
          cursor:pointer;
        }
        span:not(:last-child) {
          .ant-breadcrumb-link:hover {
            text-decoration: underline;
          }
        }
        .ant-breadcrumb-separator {
          color: #8d97ad;
        }
        span:last-child {
          .ant-breadcrumb-link {
            color: #fb9678;
            cursor: default;
          }
        }
         
      }
      .ant-table {
        background: none;
         
        .ant-table-container{
          border-color: #8d97ad;
          .ant-table-content {
            table {
              border-top: 1px #8d97ad solid;
            }
          }
          .ant-table-thead {
            tr {
              th {
                background: none;
                color: #fff;
                border-bottom: 1px #8d97ad solid;
                border-right: 1px #8d97ad solid;
              }
            }
          }
          .ant-table-tbody {
            tr {
              td {
                background: none;
                color: #fff;
                border-bottom: 1px #8d97ad solid;
                border-right: 1px #8d97ad solid;
                span {
                  cursor: pointer;
                  margin-right: 15px;
                }
                span:hover {
                  color: #fb9678;
                }
              }
            }
          }
        }
         
      }
    }
    .topBtn {
      margin-bottom: 10px;
      button {
        margin-right: 15px;
      }
    }
    .mainContent {
      width: 100%;
      height: calc(100% - 37px);
      background: #303641;
      padding:15px;
    }
  }
}
.tableImg {
  width: 100px;
}

:global {
  .ant-modal-header {
    background: #303641;
    border-bottom: 1px solid #4f5467;
    .ant-modal-title {
      color: #ced4da;
    }
  }
  .ant-modal-footer {
    border-top: 1px solid #4f5467;
  }
  .ant-modal-content {
    background: #303641;
    .ant-modal-close, .ant-modal-close:focus, .ant-modal-close:hover {
      color: #ced4da;
    }
    .ant-table  {
      color: #ced4da;
      background: #353c48;
      .ant-checkbox-wrapper {
        color: #ced4da;
        .ant-checkbox-inner{
          background-color: #272c36;
          border: 1px #adb5bd solid;
          outline: none;
        }
        &-checked {
          .ant-checkbox-inner {
            background-color: #fb9678;
            border: 1px solid #fb9678;
          }
        }
        .ant-checkbox-indeterminate {
          .ant-checkbox-inner::after {
            background-color: #fb9678;
          }
        } 
      }
      .ant-table-header {
        tr {
          th {
            background: #353c48;
            color: #ced4da;
            border-color: #4f5467;
            &:before {
              background-color: #353c48;
            }
          }
        }
      }
      .ant-table-cell-scrollbar {
        box-shadow: 0 1px 0 1px #353c48;
      }
      .ant-table-tbody {
        tr {
          td {
            background: #353c48;
            color: #ced4da;
            border-color: #4f5467;
          }
        }
         
      }
      .ant-table-thead > tr > th:not(:last-child):not(.ant-table-selection-column):not(.ant-table-row-expand-icon-cell):not([colspan])::before {
        background-color: #353c48;
      }
    }
  }
}